<form *ngIf="!registered" (ngSubmit)="onSubmit()" class="form-horizontal" autocomplete="off">
  <div class="form-group" *ngFor="let field of model?.form?.fields">
    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-addon"><i [ngClass]="iconsMap[field.name]" aria-hidden="true"></i></span>
        <input class="form-control" [name]="field.name" [id]="field.name" [type]="field.type" [(ngModel)]="formModel[field.name]" [placeholder]="field.placeholder" [disabled]="creating" [required]="field.required">
      </div>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <button type="submit" class="btn btn-primary pull-right">Register</button>
</form>
<p *ngIf="unverified" class="alert alert-success">
  Your account has been created and requires verification.
  Please check your email for a verification link.
</p>
<p class="alert alert-success" *ngIf="canLogin">
  Your account has been created, you may now log in.
</p>
