// You can add global styles to this file, and also import other style files

$primary-color: #eee;

body {
  background: $primary-color;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}
